* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    z-index: 0;
}
body{
    background-image: url("icons/gradient.png");
    background-size: cover;
    background-repeat: no-repeat;
} 
:root {
    --bg-color: #ffffff;
    --text-color: #22100d;
    --second-color: #685f78;
    --main-color: #0ca79d;
    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

#sidebar {
    background-color: #59D9D1;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#sidebar.expanded {
    width: 220px;
    z-index: 1;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.nav-list li a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    width: 100%;
}

.nav-list li a i {
    font-size: 20px;
}

#toggle-button {
    position: absolute;
    top: 5px;
    left: 10px;
    background-color: transparent;
    color: #000000;
    border: none;
    cursor: pointer;
    width: 50%;
    display: flex;
    transform: translateX(10%);
}

#toggle-button i {
    font-size: 24px;
}

#sidebar .nav-list li a span {
    display: none;
}

#sidebar.expanded .nav-list li a span {
    display: inline;
}

#home {
    position: absolute;
    top: 10%;
    left: 55%;
    transform: translateX(-50%);
    width: 100%;
}


#search {
    position: absolute;
    top: 17.5%;
    left: 55%;
    transform: translateX(-50%);
    width: 100%;
}


#settings {
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translateX(-50%);
    width: 100%;
}


#messages {
    position: absolute;
    top: 32.5%;
    left: 55%;
    transform: translateX(-50%);
    width: 100%;
}


#profile {
    position: absolute;
    bottom: 20px;
    left: 55%;
    transform: translateX(-50%);
    width: 100%;
}
p{
    position: relative;
    left: 7rem;
}