@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-image: url("icons/gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    margin-left: 50px;
    align-items: center;
    min-height: 100vh;
}

.log-image {
    width: 855px;
    height: 962px;
}

.wrapper {
    width: 770px;
    background: #DFDFDF;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 64px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.wrapper label {
    display: flex;
    margin-left: 10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    background: white;
    border-radius: 10px;
    font-size: 16px;
    color:#000000;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #000000;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 80%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #000000;
    text-decoration: none;
}

.remember-forgot a {
    color: #000000;
    text-decoration: none;
}

.remember-forgot a:hover { 
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #59D9D1;
    border: none; 
    outline: none; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 60px;
}

.register-link p a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}