@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background: white;
}

.wrapper {
    width: 770px;
    background: white;
    color: #121212;
    border-radius: 10px;
    padding: 30px 40px;
}

#horizontal-line {
    width: 480px;
    height: 2px;
    background-color: #121212;
    margin-left: 60px;
    margin-bottom: 25px;
}

#horizontal-line2 {
    width: 480px;
    height: 2px;
    background-color: #121212;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 25px;
}

#horizontal-line3 {
    width: 480px;
    height: 2px;
    background-color: #121212;
    margin-left: 60px;
    margin-bottom: 25px;
    margin-top: 40px;
}

.wrapper h1 {
    width: 500px;
    height: 85;
    font-size: 50px;
    text-align: left;
    margin-left: 100px;
}

.wrapper h2 {
    width: 416px;
    height: 37px;
    font-size: 32px;
    text-align: left;
    margin-left: 60px;
    margin-top: 10px;
}

.wrapper h3 {
    width: 416px;
    height: 37px;
    font-size: 32px;
    text-align: left;
    margin-left: 60px;
    margin-top: 10px;
}

.wrapper h4 {
    width: 416px;
    height: 37px;
    font-size: 32px;
    text-align: left;
    margin-left: 60px;
    margin-top: 10px;
}

.wrapper .input-box {
    position: relative;
    width: 70%;
    height: 50px;
    margin: 25px 0;
    margin-left: 60px;
}

.input-box input {
    width: 100%;
    height: 30%;
    background: transparent;
    border: none;
    outline: none;
    background: #D9D9D9;
    border-radius: 10px;
    font-size: 16px;
    color:#121212;
    padding: 20px 45px 20px 20px;
}

.input-box i {
    position: absolute;
    right: 10px;
    top: 75%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box:focus {
    border: 2px solid #121212;
}

.wrapper label {
    display: flex;
    margin-left: 5px;
}

.upd {
    width: 70%;
    height: 45px;
    margin: 25px 0;
    margin-left: 60px;
    background: #53B85D;
    border: none; 
    outline: none; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.upd:hover {
    background-color: darkgreen;
}

.logout {
    width: 70%;
    height: 45px;
    margin-left: 60px;
    background: #CF6464;
    border: none; 
    outline: none; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.logout:hover {
    background-color: darkred;
}

.prof-image {
    float: right;
    max-width: 855px;
    height: 980px;
    margin-right: 10px;
}

/* This is for the Sidebar*/
#sidebar {
    background-color: #C3FBF7 ; 
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px; 
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#sidebar.expanded {
    width: 15%;
    z-index:11;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
}

.nav-list li a {
    display: flex; 
    align-items: center; 
    text-decoration: none;
    color: #000000;
    text-align: center;
    height: 47.5px;
    width: 45px; 
}

.nav-list li a img {
    width: 25px; 
    height: 25px;
    margin: 11.5px;
}

.nav-list li a i {
    font-size: 20px;
}

#sidebar .nav-list li a span { 
    display: none; 
}

#sidebar.expanded .nav-list li a span {
    display: inline; 
    font-family: Arial, sans-serif; /* Arial with a sans-serif fallback */ 
    font-weight: bold; 
}

#toggle-button {
    position: absolute;
    top: 15px;
    left: 5%;
    background-color: transparent;
    color: #000000;
    border: none;
    cursor: pointer;
    width: 35px; 
    display: flex;
    transform: translateX(25%);
}

#toggle-button i { 
    font-size: 24px;
    width: 30px; 
    height: 30px;
}

#toggle-button img {
    width: 90%; 
    height: 90%;
}

#sidebar .nav-list li a span {
    display: none; 
}

#sidebar.expanded .nav-list li a span {
    display: inline; 
}

#home {
    position: absolute;
    top: 10%; 
    width: 100%; 
}

#learn {
    position: absolute;
    top: 17.5%; 
    width: 100%; 
}

#quiz {
    position: absolute;
    top: 25%; 
    width: 100%; 
}

#questions {
    position: absolute;
    top: 32.5%; 
    width: 100%; 
}

#profile {
    position: absolute;
    bottom: 7.25%; 
    width: 100%; 
}

#sidebar .nav-list li a {
    border-radius: 100%; 
} 

.nav-list li a {
    border-radius: 15px; 
    width: 75%;
    position: absolute;
    left:5%;
    transition: all 0.3s ease;
}

.nav-list li a:hover  {
    background-color: #59D9D1; 
    border-radius: 15px; 
    width: 81.25%;
    transition: all 0.3s ease;
}

#overlay {
    display: none;        /* Initially hidden */
    position: fixed;      /* Cover the whole viewport */
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;         
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 10;          /* Ensure it's on top of the content */
    pointer-events: none; /* Allow clicks to pass through the overlay */
}

#sidebar.expanded + #overlay {
    display: block;       /* Show overlay when sidebar is expanded */
}
