@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #f3eae5;
    --text-dark: #2c2724;
    --white: #fff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: "Montserrat", sans-serif;
}

.btn{
    outline: none;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}
.nav-header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-dark);
}
.nav-logo a{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}
.nav-menu-btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
.nav_links{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--text-dark);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}
.nav_links.open{
    transform: translateY(0);
}
.nav_links a{
    font-weight: 600;
    color: var(--primary-color);
}
.nav_links a:hover{
    color: var(--white);
}
.nav_btns{
    display: none;
}

.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 0;
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.container-left{
    padding-inline: 1rem;
    text-align: center;
}
.container-left h1{
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
}
.container-left .btn{
    padding: 1rem 2rem;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--text-dark);
    border-radius: 5rem;
}
.container-left .btn:hover{
    color: var(--text-dark);
    background-color: var(--primary-color);
}

.container-right{
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
}
.container-right::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transform-origin: left;
    height: 80%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    z-index: -1;

    animation: show 0.75s 1.25s ease-in-out forwards;
}

@keyframes show{
    0%{
        width: 0;
    }
    100%{
        width: calc(100% - 2rem);
    }
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-1{
    max-width: 300px;
    transform: translateX(1rem);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.img-2{
    max-width: 180px;
    transform: translateX(-1rem);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.content{
    padding-block: 0 5rem;
    padding-inline: 2rem;
    text-align: center;
}
.content h4{
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
}
.content h2{
    margin-bottom: .5rem;
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--text-dark);
}
.content h3{
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
}
.content p{
    margin-left: 1rem;
    line-height: 1.75rem;
    color: var(--text-dark);
}

.location{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: var(--primary-color);
    border: 10px solid var(--white);
    border-bottom: none;
}
.location span{
    padding: 5px 10px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--white);
    border-radius: 10px;
}

.socials{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.socials a{
    font-size: 1.25rem;
    color: var(--text-dark);
}


@media (width > 768px){
    nav {
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem2;
    }

    .nav-header{
        flex: 1;
        padding: 0;
        background-color: transparent;
    }

    .nav-logo a{
        color: var(--text-dark);
    }

    .nav-menu-btn{
        display: none;
    }

    .nav_links{
        position: static;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }

    .nav_links a, 
    .nav_links a:hover{
        color: var(--text-dark);
    }

    .nav_btns{
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .nav_btns .btn{
        font-size: 1.5rem;
        color: var(--text-dark);
        background-color: transparent;
    }

    .container{
        grid-template-columns: 2fr 3fr;
        align-items: center;
        padding: 2rem 0;
    }

    .container-left{
        text-align: left;
    }
}

@media (width > 1024px){
    .container-right{
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    .container-right::before{
        bottom: unset;
        top: 0;
        height: 90%;
    }

    .images{
        flex-direction: column;
    }

    .img-1{
        width: calc(100% + 10rem);
        max-width: 325px;
        transform: translate(-2rem 1rem);
    }

    .img-2{
        max-width: 200px;
        transform: translate(4rem -1rem);
    }

    .content{
        padding-block: 5rem;
        text-align: left;
        max-width: 400px;
        margin-inline-start: unset;
    }
}
