@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background: #fff;
  background-position: center;
  background-size: cover;
  position: relative;
}
h1 {
  font-size: 50px;
  color: #8a86ab;
  position: relative;
  margin-left: 30px;
}

.form-box {
  width: 90%;
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #8a86ab;
  border-radius: 2rem;
  padding: 50px 60px 100px;
  text-align: center;
  box-shadow: 0 20px 35px #8a86ab;
}
.btn {
  width: 92%;
  background: #f1f1f1;
  border: none;
  color: #7e7e7e;
  margin: 23px 18px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background: #f1f1f1;
}

.form-box h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #8a86ab;
  position: relative;
}

form input {
  width: 92%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin-bottom: 23px;
  border-radius: 20px;
  background: #d7d5ed;
  color: #8a86ab;
}

button {
  font-size: 1rem;
  margin-top: 23px;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  color: #fff;
  cursor: pointer;
  background: #8a86ab;
}
button:hover {
  background: #8a86ab;
}

input:focus {
  border: 1px solid rgb(192, 192, 192);
}
.member {
  color: #8a86ab;
  margin-top: 23px;
}
.member a {
  color: #89c6ff;
  text-decoration: none;
}

.recover {
  text-align: right;
  font-size: 15px;
  margin: 0.3rem 1.3rem 0 0;
}

.recover a {
  text-decoration: none;
  color: #8a86ab;
}
